<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" title="Header">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
      
    <a class="navbar-brand" href="#">Softstack Final Project</a>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/login">Login Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/register">Register Page</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/search">Search</a>
            </li>
        </ul>
    </div>
</nav>